/* ==========================================================================
Settings - Typography
========================================================================== */

$font-size-tiny: 0.75rem;
$font-size-small: 1rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.875rem;
$font-size-giant: 2.5rem;
$font-size-massive: 3.125rem;


$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;