/* ==========================================================================
Settings - Typography
========================================================================== */

// Font Size
$fs-tiny: clamp(0.75rem, 2vw, 2rem);
$fs-small: clamp(1rem, 2vw, 3rem);
$fs-medium: clamp(.5rem, 1vw, 1rem);
$fs-large: clamp(1.5rem, 5vw, 8rem );

// Font Weight
$fw-regular: 400;
$fw-bold: 700;

// Font Family 
$ff-title: Chomsky;
$ff-primary: Georgia, 'Times New Roman', Times, serif;
$ff-secondary: Arial;

