/* ==========================================================================
Settings - Typography
========================================================================== */

// Font Size
$fs-tiny: clamp(1vw, 0.75rem, 3vw);
$fs-small: clamp(1vw, 1rem, 3vw);
$fs-medium: clamp(1vw, 1.25rem, 3vw);
$fs-large: clamp(1vw, 4rem, 10vw);

// Font Weight
$fw-regular: 400;
$fw-bold: 700;

// Font Family 
$ff-title: Chomsky;
$ff-primary: Georgia, 'Times New Roman', Times, serif;
$ff-secondary: Arial;

