/* ==========================================================================
  Pages - HomePage | Components - Article
========================================================================== */

.newspaper {
	margin-top: 1rem;
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 0.1rem;
	border-radius: 2px;

}

.article {
	@include flex(column, center);
	text-align: center;
	box-shadow: 0 0 2px $black;
	padding: 1rem;
	.read-button {
		font-weight: $fw-bold;
	}
}
