/* ==========================================================================
  Pages - PageHeader | slices - NavigationBar
========================================================================== */

.masthead {
	@include flex(row, space-between, center);
	position: relative;
	width: 100%;
	> .center {
		min-width: fit-content;
		max-height: fit-content;
		flex: auto;
	}
	> :is(.left, .right) {
		@include flex(column, center, center);
		min-width: 5rem;
		flex: 1;
	}
	> .left {
		border: $border-i;
		height: auto;
		min-height: 3rem;
		max-width: (8rem);
	}
	> .right {
		width: clamp(10rem, 8vw, 25rem);
		margin-bottom: .5rem;
	}
}

.masthead {
	> .slogan {
		@include flex(column, center, center, wrap);
		@include mediaQueries("navbar-today");
		display: flex;
	}
	> .title {
		text-align: center;
	}
	> .edition {
		@include mediaQueries("navbar-today");
		width: 100%;
		min-width: 9rem;
		> .edition-title {
			@include fonts(tiny);
			text-align: center;
			letter-spacing: 0.03rem;
			text-transform: uppercase;
			min-width: max-content;
		}
		> .information {
			text-align: justify;
		}
	}
}