/* ==========================================================================
  Elements - Landmarks
========================================================================== */

body {
  position: relative;
  z-index: -2;
  padding: 0.5rem 1rem;
  border: black 2px solid;
  background: $white;
  height:auto !important;
  overflow-x: hidden;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url("../../assets/images/paper-texture.jpg");
    inset: 0;
    opacity: 0.3;
  }
}



form {
  @include flex(column, center);
}
