/* ==========================================================================
  Elements - Landmarks
========================================================================== */

body {
  padding: .5rem 1rem;
  position: relative;
  background: $white;
  z-index: -2;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url('../../assets/images/paper-texture.jpg');
    inset: 0;
    opacity: 0.3;
  }
}

article {
  @include flex(column, center);
}

form {
  @include flex(column, center);
}
