/* ==========================================================================
  Elements - Typography
========================================================================== */

.body {
  @include fonts(medium);
  text-transform: uppercase;
  color: #fff;
}

:is(h1, h2, h3, h4, h5, h6, p, a, link, button) { 
  @include fonts(medium);
  text-transform: uppercase;
  color: #fff;
}

h1 {
  @include fonts(giant, $font-weight-bold)
}

h2 {
  @include fonts(large)
}

h3 {
  @include fonts(medium)
}

p {
  @include fonts(medium)
}

