/* ==========================================================================
  Base - Grid
========================================================================== */

@mixin fonts($font-type, $weight: $font-weight-regular) {
  @if $font-type == massive {
    font-size: $font-size-massive;
    font-weight: $weight;
  } @else if $font-type == giant {
    font-size: $font-size-giant; 
    font-weight: $weight;
  } @else if $font-type == large {
    font-size: $font-size-large; 
    font-weight: $weight;
  } @else if $font-type == medium {
    font-size: $font-size-medium; 
    font-weight: $weight;
  } @else if $font-type == small {
    font-size: $font-size-small;
    font-weight: $weight;
  } @else if $font-type == tiny {
    font-size: $font-size-tiny;
    font-weight: $weight;
  }
}
